.content {
  &__logo {
    height: 2rem;
    margin: 3rem;
    margin-right: 25rem;
  }

  &__picture {
    background-image: url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12.5rem;
    width: 100%;
  }

  &__box {
  }

  &__heading {
    text-align: center;
    font-size: 3.8rem;
    text-transform: uppercase;
    padding-top: 6rem;
    letter-spacing: 1.3rem;
    line-height: 4rem;
  }

  &__span {
    color: $color-primary--light;
    font-weight: 300;
    display: block;
  }

  &__paragraph {
    color: $color-primary--light;
    padding: 4rem 3rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.3rem;
  }

  &__email-box {
    display: flex;
    position: relative;
  }

  &__email {
    outline: none;
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    border: 0.1rem solid $color-primary--light;
  }

  &__button {
    position: absolute;
  }
}

.attribution {
  color: #000;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0 1rem 0;

  &__link:link,
  &__link:visited {
    //   color: $color-primary--Blue;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    //   color: $color-primary--Cyan;
  }
}
